.middle, .right {
    width: 120px;
}

.switch {
    padding: 5px;
    margin-top: 60px;
    background-color: rgb(227, 227, 227);
    border-radius: 50%;
    cursor: pointer;
}

.result {
    box-sizing: border-box;
    width: 800px;
    padding-left: 30px;
}

.ratio-table {
    position: relative;
    display: block;
    height: 430px;
    overflow: auto;
    width: 100%;
    padding-top: 10px;
}

.ratio-table .table {
    width: 100%;
    text-align: center;
}

.ratio-table td {
    width: 50%;
}

.ratio-table th {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ratio-table .table tr:nth-child(odd) {
    background-color: #ffffff;
}

