.converter {
  width: calc(100% - 40px);
  &-form {
    display: flex;
    justify-content: center;

    &__amount {
      padding-right: 10px;
    }

    &__input {
      height: 50px;
    }

    &__from {
      padding-right: 10px;
    }

    &__switch {
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      margin-top: 40px;
      background-color: rgb(227, 227, 227);
      border-radius: 50%;
      cursor: pointer;
      margin-right: 10px;
    }
  }

  &__result {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__ratio-table {
    position: relative;
    display: block;
    height: 430px;
    overflow: auto;
    width: 100%;
    padding-top: 10px;

    .table {
      width: 100%;
      text-align: center;

      td {
        width: 50%;
      }

      th {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      tr:nth-child(odd) {
        background-color: #ffffff;
      }
    }
  }
}


