.converter {
    width: calc(100% - 40px);
  
    h3, button, .switch {
      color: #e0801e;
    }
  
    &-form {
      display: flex;
      justify-content: center;
  
      &__amount {
        padding-right: 10px;
      }
  
      &__input {
        height: 50px;
      }
  
      &__from {
        padding-right: 10px;
      }
  
      &__switch {
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin-top: 40px;
        background-color: rgb(227, 227, 227);
        border-radius: 50%;
        cursor: pointer;
        margin-right: 10px;
      }
    }
  
    &__result {
      box-sizing: border-box;
      width: 100%;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  
    &__empty {
      width: 100%;
      text-align: center;
    }
}