@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

body {
    font-family: 'Open Sans', sans-serif;
}

.App {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 120px;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.heading {
    font-size: 24px;
    position: relative;
}

.heading::before {
    content: "";
    background-image: url('/public/icon-256x256.png');
    height: 100px;
    width: 100px;
    display: block;
    position: absolute;
    top: -80px;
    left: calc(50% - 50px);
    background-size: contain;
}

.container {
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input {
    padding-left: 5px;
    font-size: 20px;
    height: 36px;
}

button {
    padding: 10px 30px;
    font-size: 20px;
    border: 2px solid #cb7e2c;
    cursor: pointer;
}

p, h3, button, .switch {
    color: #e0801e;
}

p {
    font-size: 30px;
}
